.btn-cosmic{
    border: 2px solid var(--primary-blue);
    border-radius: 20px;
    background-color: var(--dark-blue);
    padding: 20px 60px;
    cursor: pointer;
    transition: 0.7s;
    color: white;
}

.btn-cosmic:hover, .btn-cosmic:checked {
  box-shadow: 0 0 20px var(--primary-blue);
  transform: scale(1.05);
  background-color: var(--primary-blue);
}