@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #2d75e9;
  --dark-blue: #0a0a2a;
  --light-blue: #60a5fa;
  --main-green: #a7fc00;
  --main-purple: #bd33a4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Caveat';
  src: url('/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'LibMath';
  src: url('/fonts/LibertinusMath/LibertinusMath-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'DrukWide';
  src: url('/fonts/DrukCyrBold/DrukCyr-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Jost, sans-serif;
}

.math {
  font-family: 'Libertinus Math', serif;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.bg-300\% {
    background-size: 300% 300%;
}

.animate-gradient {
    animation: gradient 3s ease infinite;
}