@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-color: #ffe5af;
  --second-color: #f49b6d;
  --official-color: #217bc0;
  --active-color: #ea5599;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Sans-light';
  src: url('/fonts/sb-sans-display-light.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sans-semibold';
  src: url('/fonts/sb-sans-display-semibold.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}



html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Sans-light;
}

h1{
  font-family: Sans-semibold;
  font-size: 2rem;
  color: gray;
}
h2{
  font-family: Sans-semibold;
  font-size: 1.2rem;
  color: gray;
}

h3{
  font-family: Sans-light;
}

p{
  font-family: Sans-light;
  color: gray;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
}

.bg-300\% {
    background-size: 300% 300%;
}

.animate-gradient {
    animation: gradient 3s ease infinite;
}